@import url("https://fonts.googleapis.com/css?family=Marcellus");

:root {
    font-size: calc(1rem + 0.25vw);
}

* {
    margin: 0;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue",
        Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2 {
    font-family: Marcellus;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

input {
    height: 3rem;
    border: none;
    padding: 1rem;
    border-radius: 0.25rem;
    text-align: center;
    font-size: 1.5rem;
    width: 7em;
}

button {
    align-items: center;
    background-color: rgb(206, 228, 232);
    border: 0px solid transparent;
    border-radius: 0.25rem;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    height: 5rem;
}

button:hover {
    background-color: rgb(36, 105, 129);
}

canvas {
  pointer-events: none;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

#header {
    display: flex;
    padding: 1rem;
    height: 10rem;
}

#header-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#slogan {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#content-bg {
    padding: 2.5rem;
    background-color: rgba(239, 248, 255, 0.975);
    border-radius: 0.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content * {
    margin: 0.5rem;
}

#range {
    margin: 1rem;
    width: max-content;
    margin: 0 auto;
}

#inputs {
    width: max-content;
    display: inline-block;
}

#result {
    font-size: 4.5rem;
    font-weight: 600;
    height: 5rem;
}

#footer {
    z-index: -1;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 12rem;
    width: 100%;
    background-image: url("images/footer.png");
    background-size: cover;
}

.img-header {
    height: 10rem;
    width: 10rem;
}

.img-wrapper {
    height: 100%;
    overflow: hidden;
}