@import url("https://fonts.googleapis.com/css?family=Marcellus");

:root {
    font-size: calc(1rem + 0.25vw);
}

* {
    margin: 0;
    font-family: Marcellus, system-ui, -apple-system, system-ui, "Helvetica Neue",
        Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}


h1 {
    font-size: 3rem; /* 48px */
}

h2 {
    font-size: 2rem; /* 32 px */
}

h3 {
    font-size: 1.5rem; /* 24px */
}



input {
    height: 3rem;
    border: none;
    padding: 1rem;
    border-radius: 0.25rem;
    text-align: center;
    font-size: 1.5rem;
    width: 5em;
}

button {
    align-items: center;
    background-color: rgb(234, 222, 211);
    border: 0px solid transparent;
    border-radius: 0.25rem;
    color: black;
    cursor: pointer;
    display: inline-flex;
    font-size: 1.5rem;
    font-weight: 400;
    justify-content: center;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
    height: 5rem;
}

button:hover {
    background-color: rgb(234, 222, 211);
}

canvas {
  pointer-events: none;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

a {
  text-decoration: none;
  color: white;
}

/* Main sections */
#header {
    display: flex;
    /* background-color: red; */
}

#content {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    background-color: rgb(154, 123, 108, 0.85);
    border-radius: 0.25rem;
    width:fit-content;
    align-self: center;
}

#footer {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    width: 100%;
    align-self: center;
    justify-self: flex-end;
}


/* Sub components */
/* Header */

#img-anc {
    display: flex;
    flex: 1;
    align-self: baseline;
    justify-content: flex-start;
}

#img-pbb {
    display: flex;
    flex: 1;
    align-self: baseline;
    justify-content: flex-end;
}


/* Contenr */
#content * {
    margin: 0.5rem;
}
#content h3 {
    color: white;
}

#range {
    margin: 1rem;
    width: max-content;
    margin: 0 auto;
}

#inputs {
    width: max-content;
    display: inline-block;
}

#result {
    color: white;
    font-size: 4.5rem;
    font-weight: 600;
    height: 5rem;
}

/* Footer */
#footer p {
    color: white;
}

#footer-2 {
    display: flex;
}

#contact-info {
    display: flex;
    /* flex: 1; */
    flex-direction: column;
    /* background-color: blue; */
    font-size: 1.5rem;
    align-items: center;;
}

#sponsors {
    display: flex;
    flex: 1;
    /* background-color: green; */
    width: fit-content;
    align-items: end;
    justify-content: flex-start;
    padding: 1rem;
}

#qr {
    display: flex;
    flex: 1;
    /* background-color: purple; */
    width: fit-content;
    /* align-items: end; */
    justify-content: flex-end;
    padding: 1rem;
}

#qr > div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.5rem;
}

.img-header {
    height: 200px;
    width: 200px;
}

.img-wrapper {
    height: 100%;
    overflow: hidden;
}

.img-sponsor {
    height: 140px;
}

.img-qrcode {
    height: 120px;
    width: 120px;
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
h1 {
    font-size: 1.5rem; /* 24px */
}

h2 {
    font-size: 1rem; /* 16px */
}

h3 {
    font-size: 0.75rem; /* 12px */
}


input {
    height: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    width: 5em;
}
button {
    font-size: 0.75rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    height: 2rem;
}

.img-header {
    height: 80px;
    width: 80px;
}

.img-qrcode {
    height: 55px;
    width: 55px;
}

.img-sponsor {
    height: 35px;
}

#header {
    padding: 0.5rem;
    flex-direction: column;
}

#header-logos {
    display: flex;
}

#title {
    margin-top: 1.5rem;
}

#content {
    margin: auto;
}

#result {
    font-size: 1.5rem;
    font-weight: 600;
    height: 2rem;
}

#contact-info {
    justify-content: center;
    margin-bottom: 5rem;
}

#contact-info > p {
    font-size: 1rem;
}
#img-footer {
    height: 50px;
    background-size: cover;
}

#sponsors {
    padding: 0.25rem;
    padding-right: 0;
    align-items: center;
}

#qr {
    padding: 0.25rem;
    padding-left: 0;
    padding-right: 0;
}

#qr > div {
    font-size: 0.75rem;
    margin-left: 0;
    margin-right: 0.25rem;
}
}
 
/* For Mobile Landscape View */
@media screen and (min-device-width: 480px) 
              and (max-device-height: 500px) 
              and (orientation: landscape) { 

body {
    background-image: url("images/background.png");
    background-size: 100% 110%;
}
h1 {
    font-size: 1.5rem; /* 24px */
}

h2 {
    font-size: 1rem; /* 16px */
}

h3 {
    font-size: 0.75rem; /* 12px */
}

input {
    height: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    width: 5em;
}
button {
    font-size: 0.75rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    height: 2rem;
}

.img-header {
    height: 80px;
    width: 80px;
}

.img-qrcode {
    height: 60px;
    width: 60px;
}

.img-sponsor {
    height: 40px;
}

#header {
    padding: 0.5rem;
    flex-direction: column;
}

#header-logos {
    display: flex;
    height: 0px;
}

#title {
    margin-top: 0.5rem;
}

#content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#result {
    font-size: 1.5rem;
    font-weight: 600;
    height: 2rem;
}

#footer {
    margin-top: auto;
    padding-bottom: 0.5rem;
}
#contact-info {
    height: 0px;
    z-index: 10;
}

#contact-info > p {
    font-size: 1rem;
}
#img-footer {
    height: 60px;
    background-size: cover;
}

#sponsors {
    padding: 0.5rem;
    align-items: center;
}

#qr {
    padding: 0.25rem;
}

#qr > div {
    font-size: 0.75rem;
    margin-left:0.25rem;
    margin-right: 0.25rem;
}
}

/* For Tablet View */
@media screen and (min-device-width: 768px) 
              and (max-device-width: 1024px) 
              and (min-device-height: 500px) {

body {
    background-image: url("images/background.png");
    background-size: 175% 110%;
}
h1 {
    font-size: 3rem; /* 48px */
}

h2 {
    font-size: 2rem; /* 32 px */
}

h3 {
    font-size: 1.5rem; /* 24px */
}

input {
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    width: 5em;
}
button {
    font-size: 1.5rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    height: 3rem;
}

.img-header {
    height: 200px;
    width: 200px;
}

.img-qrcode {
    height: 80px;
    width: 80px;
}

.img-sponsor {
    height: 80px;
}

#header {
    padding: 0.5rem;
    flex-direction: column;
}

#header-logos {
    display: flex;
}

#title {
    margin-top: 0.5rem;
}

#content {
    margin: auto;
    padding: 1rem;
}

#result {
    font-size: 1.5rem;
    font-weight: 600;
    height: 2rem;
}

#footer {
    padding-bottom: 0.5rem;
}

#contact-info {
    margin-bottom: 2rem;
}

#contact-info > p {
    font-size: 2rem;
}
#img-footer {
    height: 130px;
    background-size: cover;
}

#sponsors {
    padding: 0.5rem;
    align-items: center;
}

#qr {
    padding: 0.25rem;
}

#qr > div {
    font-size: 0.75rem;
    margin-left:0.25rem;
    margin-right: 0.25rem;
}
}
 
/* For Desktop View */
@media screen and (min-width: 1025px) {
body {
    background-image: url("images/background.png");
    background-size: 100% 100%;
}
h1 {
    font-size: 3rem; /* 48px */
}

h2 {
    font-size: 2rem; /* 32 px */
}

h3 {
    font-size: 1.5rem; /* 24px */
}

input {
    height: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    width: 5em;
}
button {
    font-size: 1.5rem;
    padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
    height: 3rem;
}

.img-header {
    height: 200px;
    width: 200px;
}

.img-qrcode {
    height: 120px;
    width: 120px;
}

.img-sponsor {
    height: 90px;
}

#header {
    padding: 0.5rem;
    flex-direction: column;
}

#header-logos {
    display: flex;
    height: 70px;
}

#title {
    margin-top: 0.5rem;
}

#content {
    margin: auto;
    padding: 1rem;
}

#result {
    font-size: 1.5rem;
    font-weight: 600;
    height: 2rem;
}

#footer {
    padding-bottom: 0.5rem;
}

#contact-info {
    margin-bottom: 2rem;
}

#contact-info > p {
    font-size: 1.5rem;
}
#img-footer {
    height: 130px;
    background-size: cover;
}

#sponsors {
    padding: 0.5rem;
    align-items: center;
}

#qr {
    padding: 0.25rem;
}

#qr > div {
    font-size: 1.25rem;
    margin-left:0.25rem;
    margin-right: 0.25rem;
}
} 